src/Integration_Airtable_CLEAN.blueprint.json
{
    "name": "Integration Airtable",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "YOUR_AIRTABLE_BASE_ID",
                "view": "",
                "table": "YOUR_AIRTABLE_TABLE_ID",
                "config": {
                    "labelField": "Perusahaan",
                    "triggerField": "Created on"
                },
                "formula": "{Qualification} = \"qualified\"",
                "maxRecords": 10,
                "__IMTCONN__": "YOUR___IMTCONN___CONNECTION",
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": "YOUR_AIRTABLE_BASE_ID",
                        "view": {
                            "label": "Empty"
                        },
                        "table": "YOUR_AIRTABLE_TABLE_ID",
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Perusahaan"
                                },
                                "triggerField": {
                                    "label": "Created on"
                                }
                            }
                        },
                        "__IMTCONN__": "YOUR___IMTCONN___CONNECTION"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Nama Depan",
                        "type": "text",
                        "label": "Nama Depan"
                    },
                    {
                        "name": "Nama Belakang",
                        "type": "text",
                        "label": "Nama Belakang"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "No Telepon",
                        "type": "text",
                        "label": "No Telepon"
                    },
                    {
                        "name": "Perusahaan",
                        "type": "text",
                        "label": "Perusahaan"
                    },
                    {
                        "name": "Budget",
                        "type": "number",
                        "label": "Budget"
                    },
                    {
                        "name": "Note",
                        "type": "text",
                        "label": "Note",
                        "multiline": true
                    },
                    {
                        "name": "Created on",
                        "type": "date",
                        "label": "Created on"
                    },
                    {
                        "name": "Qualification",
                        "type": "text",
                        "label": "Qualification"
                    },
                    {
                        "name": "Message",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "Contacted on",
                        "time": false,
                        "type": "date",
                        "label": "Contacted on"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": "YOUR_ACCOUNT_CONNECTION"
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{1.Email}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "halo {{1.`Nama Depan`}}, kami menerima permintaan untuk membantu {{1.Perusahaan}} dan kami sangat berharap untuk berdiskusi segera. harap dapat berdiskusi di https://calendly.com/jansentanlim/intro-call",
                                "subject": " {{1.`Nama Depan`}} mari bicarakan tentang tujuan anda",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": "YOUR_ACCOUNT_CONNECTION"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": "YOUR___IMTCONN___CONNECTION"
                            },
                            "mapper": {
                                "id": "{{1.id}}",
                                "base": "YOUR_AIRTABLE_BASE_ID",
                                "table": "YOUR_AIRTABLE_TABLE_ID",
                                "record": {
                                    "fldsSjwNJh2Nl6WLK": "{{now}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "base": "YOUR_AIRTABLE_BASE_ID",
                                        "table": "YOUR_AIRTABLE_TABLE_ID",
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": "YOUR___IMTCONN___CONNECTION"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldINWwCZbHISL0fo",
                                                "type": "text",
                                                "label": "Nama Depan"
                                            },
                                            {
                                                "name": "fld7OoSTFDjy3atRj",
                                                "type": "text",
                                                "label": "Nama Belakang"
                                            },
                                            {
                                                "name": "fldEAVmCup2JYTZZP",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldwQ24L7kHD3dCIY",
                                                "type": "text",
                                                "label": "No Telepon"
                                            },
                                            {
                                                "name": "fldUstMxtEzzJiEw7",
                                                "type": "text",
                                                "label": "Perusahaan"
                                            },
                                            {
                                                "name": "fld9DfZILqWSHJbsg",
                                                "type": "number",
                                                "label": "Budget"
                                            },
                                            {
                                                "name": "fldJqKzYMkZ79E691",
                                                "type": "text",
                                                "label": "Note"
                                            },
                                            {
                                                "name": "fldsSjwNJh2Nl6WLK",
                                                "time": false,
                                                "type": "date",
                                                "label": "Contacted on"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Nama Depan",
                                        "type": "text",
                                        "label": "Nama Depan"
                                    },
                                    {
                                        "name": "Nama Belakang",
                                        "type": "text",
                                        "label": "Nama Belakang"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "No Telepon",
                                        "type": "text",
                                        "label": "No Telepon"
                                    },
                                    {
                                        "name": "Perusahaan",
                                        "type": "text",
                                        "label": "Perusahaan"
                                    },
                                    {
                                        "name": "Budget",
                                        "type": "number",
                                        "label": "Budget"
                                    },
                                    {
                                        "name": "Note",
                                        "type": "text",
                                        "label": "Note",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Created on",
                                        "type": "date",
                                        "label": "Created on"
                                    },
                                    {
                                        "name": "Qualification",
                                        "type": "text",
                                        "label": "Qualification"
                                    },
                                    {
                                        "name": "Message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "Contacted on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Contacted on"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "pattern": "\"value\"\\s*:\\s*\"([^\"]+)\"",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "text": "{{1.Message}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": "YOUR_ACCOUNT_CONNECTION"
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "example@example.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "tolong di follow up {{1.`Nama Depan`}} dari {{1.Perusahaan}}.{{6.`$1`}}",
                                "subject": "calon yang qualified :{{1.Perusahaan}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": "YOUR_ACCOUNT_CONNECTION"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}
